* {
    margin: 0;
}

.donate-background{
    background-image: url('../../assets/Donate_BG.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
} 