* {
    margin: 0;
}

.donate-background{
    background-image: url('/assets/Backgrounds/Donate_BG.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
} 

.donate-background h1 {
    position: absolute;
    width: 1000px;
    height: 100px;
    margin-top:  190px;
    margin-left: 500px;
    box-sizing: border-box;
    color: gold;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 42px;
    // border: 1px solid red;
}

#watto-line {
    height: 120px;
    width: 100%;
    background-image: url('/assets/Boxes/B-Line3.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.donate-background h2 {
    position: absolute;
    margin-top:  70px;
    margin-left: 75px;
    box-sizing: border-box;
    color: gold;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1.5px;
    font-size: 36px;
    // border: 1px solid red;
}

.donation-display {
    position: absolute;
    background-image:url('/assets/Boxes/B-Box3.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 600px;
    height: 330px;
    margin-left: 700px;
    margin-top: 320px;
    // border: 1px red solid;
}

.donate {
    background-image: url('/assets/Boxes/Donate_CardBox.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    height: 120px;
    width: 400px;
    margin-top: 160px;
    margin-left: 110px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 2;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    // border: 1px solid red;
}

.donate-mobile {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 70px;
    color: transparent;
    background: transparent;
    background-image: url('/assets/Buttons/Donate_CardButton.png');
    background-repeat: no-repeat;
    border: transparent;
    background-size: 100%; 
    // border: 1px blue solid;  
}

.donate-mobile:hover {
    transition-duration: 0.2s;
    background-image: url('/assets/Buttons/Donate_CardButton_HL.png');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor:pointer;
}

.checkout {
    position: relative;
    height: 20px;
    width: 300px;
    margin-top: 25px;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // justify-content: flex-end;
    // align-items: center;
    // align-content: stretch;
    // border: 1px green solid;
}

.complete {
    position: absolute;
    margin-top:  60px;
    margin-left: 4px;
    box-sizing: border-box;
    color: black;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 36px;
    // border: 1px solid red;
}