* {
    margin: 0;
}

.donate-background{
    background-image: url('../../assets/Backgrounds/Donate_BG.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
} 

.donate-background h1 {
    position: absolute;
    margin-top:  170px;
    margin-left: 470px;
    box-sizing: border-box;
    color: gold;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 42px;
    // border: 1px solid red;
}

.donate-background h2 {
    position: absolute;
    margin-top:  350px;
    margin-left: 880px;
    box-sizing: border-box;
    color: white;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 36px;
    // border: 1px solid red;
}

.donate {
    position: absolute;
    height: 100px;
    width: 400px;
    margin-top: 450px;
    margin-left: 825px;
    padding: 0;
    box-sizing: border-box;
    // border: 0px solid transparent;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .8);
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 32px;
    color: white;
    z-index: 2;
    box-shadow: 0 1px 3px 0 #E6EBF1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.donate-mobile {
    width: 150px;
    height: 50px;
    margin: 10px;
    color: transparent;
    background: transparent;
    background-image: url('../../assets/Buttons/DonateMobile.png');
    background-repeat: no-repeat;
    border: transparent;
    background-size: 100%; 
    // border: 1px blue solid;  
}

.donate-mobile:hover {
    transition-duration: 0.5s;
    background-image: url('../../assets/Buttons/DonateMobile_HL.png');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor:pointer;
}

.checkout {
    height: 20px;
    width: 300px;
    margin: 50px;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // justify-content: flex-end;
    // align-items: center;
    // align-content: stretch;
    border: 1px green solid;
}

.complete {
    position: absolute;
    margin-top:  -30px;
    margin-left: 70px;
    box-sizing: border-box;
    color: maroon;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 36px;
    // border: 1px solid red;
}