* {
    margin: 0;
    
}

.quiz-background {
    background-image: url('/assets/Backgrounds/Construction_BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
} 