* {
    margin: 0;
    
}

.guests-background {
    background-image: url('/assets/Backgrounds/Guests_BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
} 

#portraits-display {
    position: absolute;
    width: 65vw;
    height: 63vh;
    bottom: 100px;
    left: 250px;
    display: flex;
    flex-wrap: wrap;
    border: red 1px solid;
}