* {
    margin: 0;
}

.register-background{
    background-image: url('/assets/Backgrounds/Register_BG.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
} 

.register-container {
    height: 500px;
    width: 55%;
    position: absolute;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    justify-content: space-between;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: white;
    /* border: blue 5px solid; */

}

.four-inputs {
    height: 200px;
    width: 300px;
    margin-left: 250px;
    margin-bottom: 30px;
    display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    align-content: stretch;
    /* border: 1px red solid; */
}

.box-artwork {
    position: absolute;
    width: 350px;
    height: 350px;
    margin-top: 210px;
    margin-left: 800px;
    background-image: url('/assets/Boxes/Y-Box2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: 1px red solid; */
}

.register-submit {
    position: absolute;
    width: 150px;
    height: 50px;
    margin-top: -70px;
    margin-left: 325px;
    color: transparent;
    background: transparent;
    background-image: url('/assets/Buttons/Register.png');
    background-repeat: no-repeat;
    border: transparent;
    background-size: 100%; 
    /* border: 1px blue solid;  */
}

.register-submit:hover {
    transition-duration: 0.5s;
    background-image: url('/assets/Buttons/Register_HL.png');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor:pointer;
}

.register-background h1 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: gold;
    font-size: 50px;
}

.register-background h4 {
    color: gold;
    font-size: 30px;
}