* {
    margin: 0;
}

.register-background{
    background-image: url('/assets/Backgrounds/Register_BG.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
} 

.register-container {
    height: 400px;
    width: 55%;
    position: absolute;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    justify-content: space-between;
	align-items: center;
    align-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: blue 5px solid; */
    color: white;

}

/* .four-inputs {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    align-content: stretch;
} */

.register-submit {
    width: 150px;
    height: 50px;
    margin: 10px;
    color: transparent;
    background: transparent;
    background-image: url('/assets/Buttons/Register.png');
    background-repeat: no-repeat;
    border: transparent;
    background-size: 100%; 
    /* border: 1px blue solid;  */
}

.register-submit:hover {
    transition-duration: 0.5s;
    background-image: url('/assets/Buttons/Register_HL.png');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor:pointer;
}

.register-background h1 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: gold;
    font-size: 50px;
}

.register-background h4 {
    color: gold;
    font-size: 30px;
}