* {
    margin: 0;
}

.register-background{
    background-image: url('/assets/Backgrounds/Register_BG.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
} 

/* 
.register-container {
    height: 60vh;
    width: 60vw;
    top: 20%;
    right: 5%;
    position: absolute;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    color: white;
    border: blue 3px solid;
} 
*/

.register-background h1 {
    height: 15vh;
    width: 900px;
    top: 20%;
    right: 10%;
    position: absolute;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    color: white;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: skyblue;
    font-size: 50px;
    /* border: blue 1px solid; */
}

#officer-line {
    height: 120px;
    width: 100%;
    background-image: url('/assets/Boxes/Y-Line2.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.box-artwork {
    width: 600px;
    height: 600px;
    top: 32%;
    right: 20%;
    position: absolute;
    background-image: url('/assets/Boxes/Y-Box2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: 1px purple solid; */
}

.four-inputs {
    position: absolute;
    height: 40%;
    width: 50%;
    top: 50px;
    left: 170px;
    /* transform: translate(50%, 50%); */
    display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    /* border: 1px green solid; */
}


#email {
    margin-top: 0px;
    height: 12%;
    width: 90%;
    /* font-size: 26px; */
}

#username-register {
    margin-top: 20px;
    height: 12%;
    width: 90%;
    /* font-size: 26px; */
}

#password1 {
    margin-top: 20px;
    height: 12%;
    width: 90%;
    /* font-size: 26px; */
}

#password2 {
    margin-top: 20px;
    height: 12%;
    width: 90%;
    /* font-size: 26px; */
}

.register-submit {
    position: absolute;
    width: 150px;
    height: 50px;
    bottom: 220px;
    left: 240px;
    color: transparent;
    background: transparent;
    background-image: url('/assets/Buttons/Register.png');
    background-repeat: no-repeat;
    border: transparent;
    background-size: 100%; 
    /* border: 1px blue solid;  */
}

.register-submit:hover {
    transition-duration: 0.5s;
    background-image: url('/assets/Buttons/Register_HL.png');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor:pointer;
}

.register-background h4 {
    position: absolute;
    width: 65%;
    bottom: 90px;
    left: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: gold;
    font-size: 30px;
    /* border: 1px red solid; */
}