.search-book-cover {
    width: 100%;
    height: auto;
    margin-left: 0px;
    /* border: blue 1px solid; */
}

@media screen and (max-width: 497px) {
    .search-book-cover {
        position: absolute;
        width: 100%;
        height: auto;
        margin-left: 0px;
        /* border: blue 1px solid; */
    }
}