* {
    margin: 0;
}

.login-background {
        background-image: url('../../assets/Login_BG.jpg') ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100vh;
} 



.login-container {
    height: 120px;
    width: 50%;
    display: flex;
    position: absolute;
	flex-direction: column;
	flex-wrap: nowrap;
    justify-content: center;
	align-items: center;
    align-content: stretch;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: blue 5px solid;
    color: white;

}