* {
    margin: 0;
    
}

.hideout-background-noLogin {
    background-image: url('/assets/Backgrounds/Hideout_MustLogIn.jpg') ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
} 

#warning-container {
    position: absolute;
    width: 500px;
    height: 500px;
    margin-top: 80px;
    margin-left: -400px;
    background-image: url('/assets/Boxes/B-Box2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    /* border: 1px blue solid; */

}

#hondo-warning {
    /* position: absolute; */
    width: 398px;
    height: 400px;
    margin-left: 33px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 32px;
    color: gold;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    -webkit-animation: fadein 3s;
    animation: fadein 3s;
    /* border: 1px red solid; */

}

#fingerWave {
    width: 160px;
    height: 160px;
    margin-top: 500px;
    margin-left: 555px;
    background-image: url('/assets/Hideout/Wagging-Finger.gif');
    background-size: 50%;
    background-repeat: no-repeat;
    
}
        
.hideout-background-Login {
    background-image: url('/assets/Backgrounds/Hideout_BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
} 

.hideout-links-left {
    position: absolute;
    height: 75vh;
    width: 40%;
    left: 0px;
    margin-top: 150px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    /* border: 1px red solid; */
}

.hideout-links-right {
    position: absolute;
    height: 75vh;
    width: 40%;
    right: 0px;
    margin-top: 150px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    /* border: 1px blue solid; */
}

.contracts-container {
    width: 250px;
    height: 100px;
    /* border: 1px green solid; */
}

#contracts-button {
    width: 250px;
    height: 100px;
    margin-top: 0px;
    margin-left: 0px;
    color: transparent;
    background: transparent;
    border: transparent;
    background-image: url("/assets/Buttons/Contracts.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: 1px blue solid; */
}

.contracts-text {
    background-image: url('/assets/Boxes/Y-Box1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 450px;
    height: 150px;
    position: absolute;
    top: 190px;
    left: 200px;
    padding-left: 12px;
    padding-right: 12px;
    color: gold;
    visibility: hidden;
    opacity: 0;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 24px;
    letter-spacing: 1px;
    /* border: 3px blue solid; */
    z-index: 5;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}

#contracts-button:hover {
    transition-duration: 0.5s;
    background-image: url('/assets/Buttons/Contracts_HL.png');
    background-size: 100%;
    cursor:pointer;
}

.contracts-container:hover .contracts-text {
    transition-duration: 1.5s;
    visibility: visible;
    opacity: 1;
}

.guests-container {
    width: 250px;
    height: 100px;
    border: 1px green solid;
}

#guests-button {
    width: 210px;
    height: 100px;
    margin-left: 0px;
    margin-top: 0px;
    color: transparent;
    background: transparent;
    border: transparent;
    background-image: url("/assets/Buttons/Guests.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: 1px blue solid; */
}

.guests-text {
    background-image: url('/assets/Boxes/Y-Box1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 450px;
    height: 150px;
    position: absolute;
    top: 190px;
    left: 200px;
    padding-left: 12px;
    padding-right: 12px;
    color: gold;
    visibility: hidden;
    opacity: 0;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 24px;
    letter-spacing: 1px;
    /* border: 3px blue solid; */
    z-index: 5;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}

#guests-button:hover {
    transition-duration: 0.5s;
    background-image: url('/assets/Buttons/Guests_HL.png');
    background-size: 100%;
    cursor:pointer;
}



.guests-container:hover .contracts-text {
    transition-duration: 1.5s;
    visibility: visible;
    opacity: 1;
}

#quiz-button {
    width: 230px;
    height: 100px;
    margin-left: 0px;
    margin-top: 0px;
    color: transparent;
    background: transparent;
    border: transparent;
    background-image: url("/assets/Buttons/Fight_Pit.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: 1px blue solid; */
}

#quiz-button:hover {
    transition-duration: 0.5s;
    background-image: url('/assets/Buttons/Fight_Pit_HL.png');
    background-size: 100%;
    cursor:pointer;
}

#treasures-button {
    width: 230px;
    height: 100px;
    margin-left: 0px;
    margin-top: 0px;
    color: transparent;
    background: transparent;
    border: transparent;
    background-image: url("/assets/Buttons/Treasures.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: 1px blue solid; */
}

#treasures-button:hover {
    transition-duration: 0.5s;
    background-image: url('/assets/Buttons/Treasures_HL.png');
    background-size: 100%;
    cursor:pointer;
}

/* ANIMATIONS */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}