* {
    margin: 0;
    
}

.hideout-background-noLogin {
    background-image: url('../../assets/Hideout_MustLogIn.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
} 

#fingerWave {
    width: 160px;
    height: 160px;
    margin-top: 530px;
    margin-left: 555px;
    background-image: url('../../assets/Wagging-Finger.gif');
    background-size: 50%;
    background-repeat: no-repeat;
    
}