.book-cover {
    width: 12vw;
    height: auto;
    margin-left: 10px;
    /* border: green 1px solid; */
}

.book-cover:hover {
    cursor:pointer;
}

@media screen and (max-width: 479px) {
    .book-cover {
        width: 28vw;
        height: auto;
        padding-left: 5%;
        /* border: green 1px solid; */
    }
}
